* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #111827;
  color: #b0b4bc;
  padding: 10px;
}

.workspaces {
  margin: 0 0 0 10px;
}

.workspace_btn {
  all: unset;
  color: #e0def4;
  min-width: 15px;
  font-size: medium;
  font-family: CaskaydiaCove NFP SemiBold;
}

.workspace_status {
  all: unset;

  &.occupied {
    background-color: #BFDBFE;
    border-radius: 20px;
    min-width: 15px;
    min-height: 3px;
  }

  &.active {
    background-color: #BFDBFE;
    margin: 0px 5px 0px 5px;
    min-width: 5px;
    min-height: 5px;
    border-radius: 100%;
  }
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.battery {
  all: unset;
}

.metric scale trough highlight {
  all: unset;
  background-color: #4ADE80;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 8px;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 20px;
}

.label {
  font-size: 18px;
}

//.workspaces button:hover {
//  color: #D35D6E;
//}


