* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #381d2e;
  color: #b0b4bc;
  padding: 10px;
}

.workspaces {
  margin: 0 0 0 10px;
}

.workspace_btn {
  all: unset;
  color: #fefefd;
  min-width: 15px;
  font-size: medium;
}

.workspace_btn:hover {
  background-color: #fca592;
  color: #280e1c;
}

.workspace_status {
  all: unset;

  &.occupied {
    background-color: #fca592;
    border-radius: 20px;
    min-width: 15px;
    min-height: 3px;
  }

  &.active {
    background-color: #fca592;
    min-width: 5px;
    min-height: 5px;
    border-radius: 100%;
  }
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 8px;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 20px;
}

.label {
  font-size: 18px;
}

//.workspaces button:hover {
//  color: #D35D6E;
//}


