$surface1:  #45475a;
$text:      #cdd6f4;
$base:      #1e1e2e;
$crust:     #11111b;
$blue:      #89b4fa;
$yellow:    #f9e2af;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.mainbar {
  background-color: rgba($crust, .9);
}

.radio_list {
  background-color: $base;
}

.container {
  background-color: $base;
  min-height: 21px;
  padding: 0 10px 0 10px;
  border-radius: 3px;
}

.text {
  color: $text;
}

.workspace_status {
  all: unset;
  min-width: 12px;
  min-height: 7px;
  border-radius: 20px;

  &.occupied {
    background-color: $text;
  }

  &.active {
    background-color: $blue;
    min-width: 28px;
  }

  &.empty {
    background-color: $surface1;
  }
}

.musicplayer {
  background-color: #111827;
  font-family: Material Design Icons;
}

.playpause {
  min-width: 30px;
  min-height: 30px;
}

.playpause:hover {
  background-color: #0b101a;
}

.radio_list_btn {
  min-width: 50px;
  min-height: 30px;
}

.radio_list_btn:hover {
  background-color: #0b101a;
}

.radio_picker {
  background-color: #111827;
  color: #b0b4bc;
  padding: 10px;
}

.workspace_btn {
  all: unset;
  color: #e0def4;
  min-width: 15px;
  font-size: medium;
  font-family: CaskaydiaCove NFP SemiBold;
}

.battery {
  all: unset;
}

.metric scale trough highlight {
  all: unset;
  background-color: $yellow;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $surface1;
  border-radius: 4px;
  min-height: 8px;
  min-width: 60px;
  margin-left: 12px;
}

.label {
  font-size: 18px;
}

//.workspaces button:hover {
//  color: #D35D6E;
//}


